{% extends "layout.html" %}

{ % block title %} Acerca { % endblock %}

{% block content %}
<div>
    <h1>Esta é a página <i>about...</i></h1>
    <h1>Esta é a página <i>about...</i></h1>
    <h1>Esta é a página <i>about...</i></h1>
    <h1>Esta é a página <i>about...</i></h1>
    <h1>Esta é a página <i>about...</i></h1>
    <h1>Esta é a página <i>about...</i></h1>
    <h1>Esta é a página <i>about...</i></h1>
    <h1>Esta é a página <i>about...</i></h1>
    <h1>Esta é a página <i>about...</i></h1>
    <h1>Esta é a página <i>about...</i></h1>
    <h1>Esta é a página <i>about...</i></h1>
    <h1>Esta é a página <i>about...</i></h1>
    <h1>Esta é a página <i>about...</i></h1>
</div>
{% endblock %}